<div class="container">
  <!-- <div class="product">
    <div>
      <div class="playStation">
        <img src="images/1.png" alt="" loading="lazy" />
        <div>
          <h4>PlayStation 5</h4>
          <p>Black and White version of the PS5 <br /> coming out on sale.</p>
          <span>Shop Now</span>
        </div>
      </div>
    </div>
    <div class="box1">
      <div class="Women">
        <div>
          <h4>Women’s Collections</h4>
          <p>Featured woman collections that give you another vibe.</p>
          <span>Shop Now</span>
        </div>
      </div>
      <div class="box2">
        <div class="Speakers">
          <img src="images/2.png" alt="" loading="lazy" />
          <div>
            <h4>Speakers</h4>
            <p>Amazon wireless speakers</p>
            <span>Shop Now</span>
          </div>
        </div>
        <div class="Perfume">
          <img src="images/3.png" alt="" loading="lazy" />
          <div>
            <h4>Perfume</h4>
            <p>GUCCI INTENSE OUD EDP</p>
            <span>Shop Now</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="features">
    <div>
      <img src="images\icon-delivery.png" alt="" loading="lazy" />
      <h6>FREE AND FAST DELIVERY</h6>
      <p>Free delivery for all orders over $140</p>
    </div>
    <div>
      <img src="images/Icon-Customer service.png" alt="" loading="lazy" />
      <h6>24/7 CUSTOMER SERVICE</h6>
      <p>Friendly 24/7 customer support</p>
    </div>
    <div>
      <img src="images/Icon-secure.png" alt="" loading="lazy" />
      <h6>MONEY BACK GUARANTEE</h6>
      <p>We return money within 30 days</p>
    </div>
  </div>
</div>

