<section class="product-details spad">
  <div class="row">
    <div class="col-lg-6">
      <div class="product__details__pic h-100">
        <div class="product__details__pic__left product__thumb">
          <a class="pt" [class.active]="activeImageIndex === i" (click)="changeImage(i,image.name)"
            *ngFor="let image of product?.gallery; let i = index">
            <img src="{{ image.name }}" alt="">
          </a>
        </div>
        <div class="product__details__slider__content h-100">
          <div class="img h-100">
            <img class="" src="{{ main_image }}" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product__details__text">
        <h3>{{ product?.detail.name }}</h3>
        <div class="rating">
          <i class="fa fa-star me-1"></i>
          <i class="fa fa-star me-1"></i>
          <i class="fa fa-star me-1"></i>
          <i class="fa fa-star me-1"></i>
          <i class="fa fa-star me-1"></i>
          <span>( 138 reviews )</span> | <span style="color: rgb(33, 210, 107);"> In Stock</span>
        </div>
        <div class="product__details__price">$ {{ product?.price_after }} <span>$ {{ product?.price }}</span></div>
        <p>{{ product?.detail.desc }}</p>
        <hr>
        <div class="product-options">
          <div class="color-selection d-flex" style="gap: 20px;">
            <h5>Colours :</h5>
            <div class="d-flex" style="gap: 10px;">
              <div *ngFor="let color of colors let i = index">
                <input type="radio" name="color" [id]="'color-' + color.value" [checked]="i == 0">
                <label [for]="'color-' + color.value" [ngStyle]="{'background-color': color.value}"
                  class="color-input"></label>
              </div>
            </div>
          </div>
          <div class="size-selection d-flex align-items-center gap-3">
            <label>Size:</label>
            <div *ngFor="let size of sizes">
              <button class="size-button" [class.selected]="selectedSize === size" (click)="selectSize(size)">
                {{ size }}
              </button>
            </div>
          </div>
          <div class="quantity">
            <button (click)="decreaseQuantity()">−</button>
            <input type="number" [value]="quantity" min="1" readonly id="quantity" disabled>
            <button (click)="increaseQuantity()">+</button>
          </div>
          <button class="cart-btn" (click)="addToCart()">Buy Now</button>
          <button class="size-button m-0 ms-3" style="padding: 10px;">
            <i class="fa-regular fa-heart"></i>
          </button>
        </div>
        <div class="delivery-info">
          <div class="delivery-option">
            <div class="icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="text">
              <h5>Free Delivery</h5>
              <p>Enter your postal code for Delivery Availability</p>
            </div>
          </div>
          <div class="delivery-option">
            <div class="icon">
              <i class="fa-solid fa-arrows-rotate"></i>
            </div>
            <div class="text">
              <h5>Return Delivery</h5>
              <p>Free 30 Days Delivery Returns.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section *ngIf="related?.length > 0">
  <div class="mt-5 mb-5 d-flex ">
    <div class="related rounded"></div>
    <h3 class="text-danger ms-4">Related Item</h3>
  </div>
  <div class="row">
    <div class="col-lg-3 mb-3" *ngFor="let item of related">
      <div class="card h-100">
        <div class="add-card position-relative">
          <div class="img">
            <img src="{{ item.image }}" class="card-img-top position-relative border-bottom bg-body-secondary "
              alt="...">
          </div>
          <div>
            <i class="fa-regular fa-heart position-absolute top-0 end-0 mt-2 me-2 bg-white p-2 rounded-circle "></i>
            <i class="fa-regular fa-eye position-absolute top-0 end-0 mt-5 me-2 bg-white p-2 rounded-circle"></i>
          </div>
          <button class="border-0 bg-dark text-white text-center p-3 position-absolute w-100 add-to-cart">
            Add To Cart
          </button>
        </div>
        <div class="card-body bg-white" style="z-index: 1;">
          <a routerLink="/product/single/{{ item.id }}">
            <p class="card-title">{{ item.name }}</p>
          </a>
          <div>
            <span class="text-danger me-2">${{ item.price_after }}</span>
            <span class="text-light-emphasis text-decoration-line-through">${{ item.price }}</span>
          </div>
          <div class="stars">
            <i class="fa-solid fa-star text-warning "></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <span class="text-light-emphasis ms-1">(88)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
