<header>
  <div class="bg-black text-white justify-content-center align-items-center p-2 d-none d-md-flex" style="gap: 10px">
    <span class="top-nav-text">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! </span>
    <a class="top-nav-text" class="text-white">Shop Now</a>
  </div>
  <nav class="navbar navbar-expand-lg border-bottom py-3">
    <div class="container">
      <a class="navbar-brand" routerLink=""><b>Exclusive</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0" style="gap: 30px">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item" *ngIf="!global.is_login">
            <a class="nav-link" routerLink="signup" routerLinkActive="active">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="!global.is_login">
            <a class="nav-link" routerLink="login" routerLinkActive="active">Log in</a>
          </li>
          <li class="nav-item" *ngIf="global.is_login">
            <a style="cursor: pointer;" class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
        <form class="position-relative" role="search">
          <input class="form-control me-4 " type="text" placeholder="What are you looking for?" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass position-absolute end-0 top-50 translate-middle"></i>
        </form>
        <a class="nav-link ms-4" routerLink="cart" routerLinkActive="active"  *ngIf="global.is_login">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <!-- <a class="nav-link ms-1" routerLink="profile" routerLinkActive="active"  *ngIf="global.is_login">
          <i class="fa-solid fa-user"></i>
          
        </a> -->
        
        <a  class="nav-link " >
          <a class="nav-link ms-1 dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="global.is_login">
            <i class="fa-solid fa-user"></i>
          </a>
          

          <div>
            <ul class="dropdown-menu  position-absolute px-2  drop-m"  style="left: 80%; top:95%"  aria-labelledby="profileDropdown" [ngStyle]="{'background-image' : 'url(.images/dropdown.png)'}">
              <li><a class="dropdown-item" routerLink="/profile">Manage My Account</a></li>
              <li><a class="dropdown-item" routerLink="/my-orders">My Orders</a></li>
              <li><a class="dropdown-item" routerLink="/my-cancellations">My Cancellations</a></li>
              <li><a class="dropdown-item" routerLink="/my-reviews">My Reviews</a></li>
              <li><a class="dropdown-item"  (click)="logout()"  >Logout</a></li>
            </ul>
            
        </div>

         

        </a>



      </div>
    </div>
  </nav>
</header>


