


  <div class="container ">
    <div class="row g-0">
      <app-ad-and-categories></app-ad-and-categories>
    
  </div>
  </div>

  
  <div class="container ">
    <div class="row g-0">
      <app-categories></app-categories>
    
  </div>
  </div>
  


  <div class="container ">
    <div class="row g-0">
      <app-featured></app-featured>
    
  </div>
  </div>
  
<!-- 
  <div class="container ">
    <div class="row g-0">
      <app-our-products></app-our-products>
    
  </div>
  </div>
  
  <div class="container ">
    <div class="row g-0">
      <app-card></app-card>
    
  </div>
  </div>
  
 -->







