<div class="mt-4"></div>
<h6><span class="text-secondary ">Home / </span>Cart</h6>
<table class="table cart-table mt-5">
  <thead>
    <tr class="shadow">
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr class="shadow" *ngFor="let product of products">
      <td>
        <div class=" img d-inline-block me-4">
          <img src="{{ product.details.gallary.gallary_name }}" alt="LCD Monitor">
        </div>
        {{ product.details.name }}
      </td>
      <td>${{ product.details.price_after }}</td>
      <td>
        <input type="number" class="form-control form-control-quantity text-center" value="{{ product.qty }}" disabled>
      </td>
      <td>${{ product.details.total }}</td>
      <td class="text-danger">
        <button class="btn" (click)="deleteCart(product.cart_id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-6">
        <input type="text" class="form-control mb-2 py-2 rounded-1 border-dark" placeholder="Coupon Code">
      </div>
      <div class="col-lg-6">
        <button class="btn btn-apply-coupon py-2 px-5 rounded-1">Apply Coupon</button>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card rounded-1 border-dark p-4">
      <h5>Cart Total</h5>
      <ul class="list-unstyled">
        <li class="py-3 border-bottom border-dark">Subtotal: <span>${{ total }}</span></li>
        <li class="py-3 border-bottom border-dark">Shipping: <span>Free</span></li>
        <li class="py-3 "><strong>Total: <span>${{ total }}</span></strong></li>
      </ul>
      <button class="btn btn-proceed w-100 py-2 px-5 rounded-1">Proceed to checkout</button>
    </div>
  </div>
</div>
