
<section>
  <div class="container">
    <div class="footer">
        <div class="exclusive">
            <h3>Exclusive</h3>
            <p>Subscribe</p>
            <label>Get 10% off your first order</label>
            <div>
                <input type="text" placeholder="Enter your email" />
                <img src="images/gmail.png" alt="Gmail" />
            </div>
        </div>
        <div>
            <h3>Support</h3>
            <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
            <p>exclusivegmail.com</p>
            <p>+88015-88888-9999</p>
        </div>
        <div>
            <h3>Account</h3>
            <p>My Account</p>
            <p>Login / Register</p>
            <p>Cart</p>
            <p>Wishlist</p>
            <p>Shop</p>
        </div>
        <div>
            <h3>Quick Link</h3>
            <p>Privacy Policy</p>
            <p>Terms Of Use</p>
            <p>FAQ</p>
            <p>Contact</p>
        </div>
        <div class="download">
            <h3>Download App</h3>
            <div>
                <p>Save $3 with App New User Only</p>
                <div class="icons">
                    <img src="images/Qrcode.png" alt="QR Code" />
                    <div>
                        <img src="images/download-appstore.png" alt="App Store" />
                        <img src="images/google-play.png" alt="Google Play" />
                    </div>
                </div>
            </div>
            <div class="contact">
                <img src="images/facebook(2).png" alt="Facebook" />
                <img src="images/twitter.png" alt="Twitter" />
                <img src="images/icon-instagram.png" alt="Instagram" />
                <img src="images/linkedIn.png" alt="LinkedIn" />
            </div>
        </div>
    </div>
    <p class="copyright"><span>&copy;</span>Copyright Rimel 2022. All rights reserved</p>
  </div>
</section>